<div class="container">
    <div class="row gap-5 mt-5">
        <div class="col-4 d-flex flex-column align-items-start gap-4 pt-5 left">
            <h1 class="" style="font-size: 4rem;">Break the code barrier</h1>
            <p class="fw-bold">Build better business websites. faster <br> without coding</p>
            <button class="btn btn-primary">view dashboard</button>
        </div>
        <div class="col-6 right">
            <img class="img-1" src="../../assets/banner.png" alt="">
        </div>
    </div>
    <div class="row pt-5">
        <img class="img-2  col-12" src="../../assets/social-img.png" alt="">
    </div>
</div>