<div class="container-fluid login-container bg-light p-4">
<div class="container ">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="">
    </div>
    <div class="from shadow" >
        <h1 class="text-lg">Login</h1>
        <form class="">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">E-Mail Address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remeber Me</label>
            </div>
            <button  class="btn btn-primary" (click)="gotohomepage()">Login</button>
          </form>
<p class="text-sm text-center">Don't have an account? <span class="text-info">Create One</span></p>
    </div>
</div>
</div>